<launch>
    <!-- <node name="serial_server" pkg="rosserial_server" type="serial_node" output="screen" respawn="true" respawn_delay="3">
        <param name="port" value="/dev/ttyUSB0" />
        <param name="baud" value="115200" />
        
    </node> -->

    <node type="navigation" pkg="mecanum_steady" name="navigation" output="screen"/> 
    <node type="odometry" pkg="mecanum_steady" name="odometry" output="screen"/>

    <param name="x_tol" type="double" value="0.06"/>
    <param name="y_tol" type="double" value="0.06"/>
    <param name="z_tol" type="double" value="0.003"/>

    <param name="acc_xy" type="double" value="0.3"/>
    <param name="acc_zz" type="double" value="0.08"/>

    <param name="acc_x_frac" type="double" value="0.35"/>
    <param name="acc_y_frac" type="double" value="0.35"/>
    <param name="acc_z_frac" type="double" value="0.6"/>
    <!-- 0.2 percent of the lenght used to deacceleration-->

    <param name="max_xy_vel" type="double" value="2.5"/>
    <param name="min_xy_vel" type="double" value="0.025"/>
    <param name="max_zz_vel" type="double" value="0.08"/>
    <param name="min_zz_vel" type="double" value="0.01"/>

    <param name="kp_xy" type="double" value="1.7"/>
    <param name="kp_zz" type="double" value="2.2"/>

    <param name="x_slow_dist" type="double" value="1"/>
    <param name="y_slow_dist" type="double" value="1"/>
    <param name="z_slow_dist" type="double" value="0.052"/>

    <param name="test_mode" type="bool" value="0"/>
    <param name="debug_send_vel" type="bool" value="0"/>
    <param name="debug_get_vel" type="bool" value="1"/>

    <!--node type="drive" pkg="mecanum_steady" name="drive" output="screen"/ --> 
    <!-- node type="set_goal" pkg="mecanum_steady" name="set_goal" output="screen"/ --> 
    <!--<node type="rviz" pkg="rviz" name="rviz" output="screen"/> -->
    <!-- <node type="turtlesim_node" pkg="turtlesim" name="turtle1" output="screen"> -->
    <!-- </node> -->
    <node type="commu" pkg="mecanum_steady" name="commu" output="screen"></node>

    <!-- <node type="rviz" pkg="rviz" name="rviz" output="log" args="-d $(find mecanum_steady)/config/mecanum.rviz"></node> -->
    <!-- <node type="rqt_plot" pkg="rqt_plot" name="rqt_plot" output="screen"/> -->
</launch>
